/*------------------------------------------------------------------------------------------------------------------------
 @package: <%= name %> (app)

 @author: <%= authorName %>
 @www: <%= authorURL %>
 @github: <%= authorGitHub %>

 @twitter: <%= authorTwitter %>

 @copyright: COPYRIGHT <%= currentDate %> <%= authorCompanyName %>
 =============================================================================
 Filename: _forms.scss
 =============================================================================
 This file is responsible for all form styles in the <%= name %> app.
 --------------------------------------------------------------------------------------------------------------------- */

/* =============================================================================
Buttons
========================================================================== */
/* Normal buttons */
button, .btn, input[type="submit"] {
	@extend %bordered;
	@extend %medium;
	@extend %rounded-large;
	@extend %border-box;
	@extend %transition-all;
	cursor: pointer;
	font-weight: $<%= _.camelize(name) %>BaseFontWeight;
	margin: 0 $<%= _.camelize(name) %>Margin 0 0;
	color: invert($<%= _.camelize(name) %>SecondaryColour);
	padding: $<%= _.camelize(name) %>PaddingSmall $<%= _.camelize(name) %>Padding;
	text-shadow: 0 1px 0 $<%= _.camelize(name) %>InverseTextColour;
	text-decoration: none;
	@include background(linear-gradient(lighten($<%= _.camelize(name) %>SecondaryColour, 30%), $<%= _.camelize(name) %>SecondaryColour));
	@include box-shadow(inset 0 1px 0 fade-out($<%= _.camelize(name) %>BodyBackground, 0.6), 0 1px 0.3em fade-out($<%= _.camelize(name) %>SecondaryColour, 0.5));

	&:hover, &:focus {
		background: $<%= _.camelize(name) %>TertiaryColour;
		border-color: darken($<%= _.camelize(name) %>TertiaryColour, 20);
		color: $<%= _.camelize(name) %>InverseTextColour;
		text-shadow: 0 1px 1px darken($<%= _.camelize(name) %>TertiaryColour, 20);
		@include box-shadow(inset 0 1px 0 fade-out($<%= _.camelize(name) %>SecondaryColour, 0.25), 0 1px 4px fade-out($<%= _.camelize(name) %>SecondaryColour, 0.5));
		@include background(linear-gradient(lighten($<%= _.camelize(name) %>TertiaryColour, 10), $<%= _.camelize(name) %>TertiaryColour));
	}
	&:active {
		border-color: darken($<%= _.camelize(name) %>BorderColour, 25%);
		@include box-shadow(inset 0 0 $<%= _.camelize(name) %>BorderRadiusLarge #000);
	}
}

/* Button groups */
.form-actions, .btn-group, .toolbar {
	@extend %centred;
	@extend %bordered-top;
	@extend %normal-padding-top-bottom;
	@extend %normal-padding;
	background: fade-out($<%= _.camelize(name) %>SecondaryColour, 0.83);
	input, .btn, button {
		margin: 0 -#{$<%= _.camelize(name) %>MarginMini} 0 0;
		@extend %rounded-none;
		&:last-child {
			@extend %rounded-right;
		}
		&:first-child {
			@extend %rounded-left;
		}
	}
}

/* =============================================================================
Form inputs
========================================================================== */

/* Allow inputs to be displayed similarly */
input, input[type="password"], input[type="search"], isindex {
	@include appearance("textfield");
	&[type="search"] {
		@extend %rounded-large; //large rounded corners for search
	}
}

input:not([type]), input[type="color"], input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"] {
	@extend %border-box;
	@extend %normal-padding-left-right;
	@extend %small-padding-top-bottom;
}