/*------------------------------------------------------------------------------------------------------------------------
 @package: <%= name %> (app)

 @author: <%= authorName %>
 @www: <%= authorURL %>
 @github: <%= authorGitHub %>

 @twitter: <%= authorTwitter %>

 @copyright: COPYRIGHT <%= currentDate %> <%= authorCompanyName %>
 =============================================================================
 Filename: _type.scss
 =============================================================================
 This file is responsible for navigation elements on the <%= name %> app.  Styles should be compiled using compass and sass.
 --------------------------------------------------------------------------------------------------------------------- */

@import "compass/css3";
@import "variables.scss";
@import "helpers";

.nav, .nav ul {
	@extend %margin-none;
	@extend %padding-none;
	@extend %no-list-style;
}

.nav {
	background: darken($<%= _.camelize(name) %>TertiaryColour, 15);
	border-bottom: $<%= _.camelize(name) %>BorderWidth $<%= _.camelize(name) %>BorderStyle darken($<%= _.camelize(name) %>BorderColour, 15%);
	@extend %overflow-visible;
	@extend %row-width;

	@include background(linear-gradient($<%= _.camelize(name) %>TertiaryColour, darken($<%= _.camelize(name) %>TertiaryColour, 30)));
	ul {
		//normal menu styling here
		a {
			color: $<%= _.camelize(name) %>InverseTextColour;
			@extend %medium;
			border-right: 1px solid darken($<%= _.camelize(name) %>SecondaryColour, 25);
			@extend %inline;
			padding: $<%= _.camelize(name) %>PaddingSmall $<%= _.camelize(name) %>PaddingLarge;
			text-decoration: none;
			text-shadow: 0 1px $<%= _.camelize(name) %>PaddingSmall $<%= _.camelize(name) %>TextColour;

			&:hover {
				@include background(linear-gradient(lighten($<%= _.camelize(name) %>TertiaryColour, 30), $<%= _.camelize(name) %>TertiaryColour));
			}
		}
		ul {
			//nested menu 1
			@extend %no-list-style;
			@extend %opacity-0;
			@extend %invisible;
			@extend %absolute;
			z-index: 9;
			top: 100%;
			@extend %normal-margin-left;
			background: darken($<%= _.camelize(name) %>TertiaryColour, 20);
			@include transition(opacity $<%= _.camelize(name) %>TransitionTime $<%= _.camelize(name) %>TransitionFunction);
			@include box-shadow(0 0 $<%= _.camelize(name) %>PaddingSmall fade-out($<%= _.camelize(name) %>BodyBackground, 0.5));

			ul {
				//nested menu 2
				left: 100%;
				top: 0;
				z-index: 10;
				li {
					&:first-child {
						a {
							&:after {
								left: -0.4em;
								top: $<%= _.camelize(name) %>Em * 0.8;
								width: 0;
								height: 0;
								border-left: 0;
								border-bottom: $<%= _.camelize(name) %>BorderRadius solid transparent;
								border-top: $<%= _.camelize(name) %>BorderRadius solid transparent;
								border-right: $<%= _.camelize(name) %>BorderRadiusLarge solid darken($<%= _.camelize(name) %>SecondaryColour, 40);
							}

							&:hover {
								&:after {
									border-right-color: lighten($<%= _.camelize(name) %>TertiaryColour, 40);
									border-bottom-color: transparent;
								}
							}
						}
					}
					&:last-child {
						a {
							border-right-color: lighten($<%= _.camelize(name) %>TertiaryColour, 40);
							border-bottom-color: transparent;
						}
					}
				}
			}
			li {
				&:hover {
					> ul {
						@extend %opacity-1;
						@extend %visible;
						@extend %margin-none;
					}
				}

				&:first-child {
					a {
						@extend %rounded-top;
						&:hover {
							&:after {
								border-bottom-color: lighten($<%= _.camelize(name) %>TertiaryColour, 30);
							}
						}
						&:after {
							content: "";
							@extend %absolute;
							left: $<%= _.camelize(name) %>MarginLarge;
							top: -0.4em;
							width: 0;
							height: 0;
							border-left: ($<%= _.camelize(name) %>BorderWidth * $<%= _.camelize(name) %>Multiplier) $<%= _.camelize(name) %>BorderStyle transparent;
							border-right: ($<%= _.camelize(name) %>BorderWidth * $<%= _.camelize(name) %>Multiplier) $<%= _.camelize(name) %>BorderStyle transparent;
							border-bottom: ($<%= _.camelize(name) %>BorderWidth * $<%= _.camelize(name) %>MultiplierLarge) $<%= _.camelize(name) %>BorderStyle darken($<%= _.camelize(name) %>SecondaryColour, 15);
						}
					}
				}
			}
		}
		li {
			@extend %inline;
			@extend %relative;
			&:hover {
				a {
					color: darken($<%= _.camelize(name) %>InverseTextColour, 10);
				}
				> ul {
					@extend %block;
					@extend %opacity-1;
					@extend %visible;
					@extend %margin-none;
				}
			}
		}
	}
	@extend %clearfix;
}

//responsive button
.responsive-grid {
	@extend button;
	@extend %margin-none;
	@extend %show-phone;
}